#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    display: inline;
    padding: 5px;
}

.logo_text {
    color: #4285f4;
    font-size: 16px;
    position: relative;
    left: 110px;
    top: -18px;
}